.court-view {
  margin: 20rpx 0;
  padding: 20rpx;
  border: 2rpx solid #ccc;
  border-radius: 16rpx;
  background: #fff;
  width: 400rpx;
}
.team-title {
  font-size: 28rpx;
  font-weight: bold;
  margin-bottom: 10rpx;
}
.court {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
